:root {
  --main: rgb(173, 39, 39);
}
.container {
  width: 400px;
  height: 400px;
  background-color: rgb(108, 52, 135);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.hair {
  width: 160px;
  height: 160px;
  position: absolute;
  background-color: black;
  border-radius: 50%;
  transform: translate(120px, 65px);
}
.ear {
  width: 130px;
  height: 25px;
  position: absolute;
  background-color: #d28d8d;
  border-radius: 16px;
  transform: translate(131px, 180px);
  border: 4px solid #a07d71;
}
.face {
  width: 100px;
  height: 236px;
  position: absolute;
  background-color: rgb(238, 187, 153);
  transform: translate(150px, 110px);
  border-radius: 50px;
}
.Lsec {
  width: 19px;
  height: 6px;
  border-radius: 50px;
  background-color: black;
  position: absolute;
  transform: translate(25px, 42px);
}
.Rsec {
  width: 19px;
  height: 6px;
  border-radius: 50px;
  background-color: black;
  position: absolute;
  transform: translate(56px, 42px);
}
.leftEye {
  background-color: #fff;
  width: 35px;
  height: 20px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  transform: translate(15px, 55px);
}
.rightEye {
  background-color: #fff;
  width: 35px;
  height: 20px;
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
  transform: translate(50px, 35px);
}
.dot {
  width: 5px;
  height: 6px;
  border-radius: 50px;
  background-color: black;
  position: absolute;
  transform: translate(15px, 6px);
}
.mouth {
  width: 85px;
  height: 41px;
  background-color: #000;
  position: absolute;
  transform: translate(8px, 51px);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.up {
  width: 72px;
  height: 23px;
  background-color: #fff;
  border-radius: 8px;
  position: absolute;
  top: -8px;
  left: -2px;
}
.down {
  width: 67px;
  height: 23px;
  background-color: #c80c0c;
  border-radius: 13px;
  position: absolute;
  bottom: -8px;
  left: -22px;
}
.ni {
  width: 100px;
  height: 25px;
  background-image: linear-gradient(0deg, var(--main) 70%, rgb(96 46 46) 93%);
  transform: translate(150%, 1323%);
}
.foo {
  width: 200px;
  height: 200px;
  background-color: var(--main);
  border-radius: 23px;
  position: absolute;
  transform: translate(50%, 159%);
}
.logo {
  position: absolute;
  color: #616161;
  left: 35px;
  top: 15px;
  font-size: 10px;
  font-family: cursive;
  background-color: #a21c1c;
  border-radius: 10px;
  width: 22px;
}
.leftArm {
  width: 100px;
  height: 19px;
  background-color: var(--main);
  transform: rotate(-59deg);
  position: absolute;
  left: -67px;
  top: 55px;
}
.rightArm {
  width: 100px;
  height: 19px;
  background-color: var(--main);
  transform: rotate(239deg);
  position: absolute;
  right: -66px;
  top: 54px;
}
.aft {
  width: 120px;
  height: 30px;
  position: absolute;
  background-color: var(--main);
  transform: translate(116%, 1007%);
}
